.box-read-news {
  &__content {
    overflow: hidden;
    position: relative;
    border-radius: 14px;
    padding: 70px;
    display: flex;
    background-color: var(--white);
    .left {
      position: relative;
      width: calc(580 / 1260 * 100%);
      z-index: 3;
      &__title {
        margin-bottom: 40px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 48px;
        color: var(--black);
      }
      &__desc {
        margin-bottom: 40px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        color: var(--black);
      }
      &__btn {
        max-width: 310px;
      }
    }
    img {
      position: absolute;
      inset: auto 0 0 auto;
      object-fit: cover;
    }
  }
}
@media (max-width: 1380px) {
  .box-read-news {
    &__content {
      padding: 60px;
      .left {
        width: calc(566 / 1200 * 100%);
        &__title {
          margin-bottom: 17px;
        }
        &__desc {
          margin-bottom: 25px;
        }
        &__btn {
          max-width: 240px;
        }
      }
      img {
        max-width: 685px;
      }
    }
  }
}
@media (max-width: 950px) {
  .box-read-news {
    &__content {
      padding: 30px;
      .left {
        max-width: 476px;
        width: 100%;
        &__title {
          margin-bottom: 20px;
          font-size: 40px;
        }
        &__desc {
          margin-bottom: 44px;
        }
      }
    }
  }
}