.box-verified-data {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 620px) {
  .box-verified-data {
    &__title {
      margin-bottom: 40px;
    }
    &__list {
      grid-template-columns: 1fr;
    }
  }
}