.box-order-demo {
  &__section {
    padding: 100px 0;
    background-image: url('../img/box-order-demo/1.png'), url('../img/box-order-demo/2.png');
    background-position: left, right;
    background-size: 400px 100%, 400px 100%;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--white);
  }
  &__title {
    margin: 0 auto 20px;
    max-width: 915px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
  &__desc {
    margin: auto;
    max-width: 580px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--black);
  }
  &__btn-wrapp {
    display: flex;
    justify-content: center;
  }
  &__btn {
    max-width: 310px;
  }
}

.box-order-demo-2 {
  background-image: url('../img/box-order-demo/3.png'), url('../img/box-order-demo/4.png');
  background-size: 400px 100%, 400px 100%;

  .box-order-demo {
    &__title {
      max-width: 100%;
    }
  }
}

.box-order-demo-4 {
  .box-order-demo__content {
    gap: 70px;
  }
}

@media (max-width: 1380px) {
  .box-order-demo {
    &__desc {
      font-size: calc(16px + (18 - 16) * ((100vw - 1240px) / (1440 - 1240)));
    }
    &__btn {
      max-width: 245px;
    }
  }
  .box-order-demo-2 {
    .box-order-demo {
      &__title {
        max-width: 915px;
      }
    }
  }
}