.box-swiper {
  &__content {
    position: relative;
    .swiper-slide {
      height: auto;
      box-sizing: border-box;
    }
    .btn-swiper.left {
      left: 0;
    }
    .btn-swiper.right{
      right: 0;
    }
    .btn-swiper {
      border-color: var(--body);
      &.swiper-button-disabled {
        border-color: var(--accent-3);
      }
      &:focus-visible,&:hover,&:active {
        border-color: var(--accent-3);
      }
    }
  }
  &__swiper {
    border-radius: 14px;
    margin: auto;
    max-width: 1240px;
  }
}
@media (max-width: 1380px) {
  .box-swiper {
    &__swiper {
      max-width: 1050px;
    }
  }
}
@media (max-width: 1115px) {
  .box-swiper {
    &__swiper {
      max-width: 970px;
    }
  }
}
@media (max-width: 950px) {
  .box-swiper {
    &__content {
      &.slide-4 {
        .box-swiper__swiper {
          max-width: calc(520 / 600 * 100%);
        }
      }
    }
    &__swiper {
      max-width: calc(480 / 600 * 100%);
    }
  }
}
@media (max-width: 620px) {
  .box-swiper {
    &__title {
      margin-bottom: 40px;
    }
    &__content {
      &.slide-4 {
        .box-swiper__swiper {
          max-width: calc(240 / 300 * 100%);
        }
      }
    }
    &__swiper {
      max-width: calc(200 / 300 * 100%);
    }
  }
}