.box-briefcase {
  &__list {
    display: flex;
    gap: calc(40 / 1400 * 100%);
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      flex: 1;
    }
  }
}

@media (max-width: 1380px) { 
  .box-briefcase {
    &__list {
      row-gap: 34px;
    }
  }
}