.box-points {
  padding: 30px 46px;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1060px;
  border-radius: 14px;
  width: 100%;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -45%);
  border: 1px solid rgba(34, 44, 85, 0.11);
  box-shadow: 0 6px 12px 0 rgba(128, 128, 128, 0.02), 0 22px 22px 0 rgba(128, 128, 128, 0.02), 0 50px 30px 0 rgba(128, 128, 128, 0.01), 0 89px 36px 0 rgba(128, 128, 128, 0), 0 139px 39px 0 rgba(128, 128, 128, 0);
  background: var(--white);
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      position: relative;
      flex: 1;
      padding-left: 25px;
      padding-right: 25px;
      //border-right: 1px solid rgba(52, 145, 247, 0.3);
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        &::after {
          display: none;
        }
        padding-right:0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: rgba(52, 145, 247, 0.3);
        transform: scaleY(0);
        transform-origin: left;
        transition: transform 0.7s ease-in-out;
      }
      &.visible::after {
        transform: scaleY(1);
      }
    }
  }
}