.box-need {
  &__section {
    .swiper-slide {
      height: auto;
      box-sizing: border-box;
    }
  }
}
@media (max-width: 620px) {
  .box-need {
    &__title {
      margin-bottom: 40px;
    }
    &__container {
      .btn-swiper {
        top: auto;
        bottom: 0;
        &.left {
          left: 20px;
        }
        &.right {
          right: 20px;
        }
      }
    }
    
  }
}