.footer-centr-box {
  padding: 100px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: calc(130 / 1400 * 100%);
  }
  .left {
    width: calc(510 / 1400 * 100%);
    &__title {
      margin-bottom: 40px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 36px;
      color: var(--black);
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
    &__info-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h4 {
        margin-bottom: 15px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--black);
      }
      a {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        color: var(--black);
        transition: color 0.4s ease-in-out;
        &:focus,&:focus-visible {
          outline: none;
        }
        &:focus-visible,&:hover,&:active {
          color: var(--accent-2);
        }
      }
      address {
        font-style: normal;
        p {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 24px;
          color: var(--black);
        }
      }
    }
  }
  .right {
    flex: 1;
    &__group {
      margin-bottom: 20px;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__desc {
      margin-bottom: 60px;
      max-width: 450px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: var(--black);
      opacity: 0.5;
    }
    &__box-blog {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h3 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 36px;
        color: var(--black);
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        a {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          &:focus,&:focus-visible {
            outline: none;
          }
          &:focus-visible,&:hover,&:active {
            .img-box {
              border-color: var(--black);
            }
            .text {
              opacity: 1;
            }
          }
          .img-box {
            overflow: hidden;
            display: flex;
            width: 63px;
            min-width: 63px;
            height: 63px;
            border-radius: 14px;
            background-color: var(--white);
            border: 1px solid transparent;
            transition: border-color 0.4s ease-in-out;
          }
          .text {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: var(--black);
            opacity: 0.5;
            transition: opacity 0.4s ease-in-out;
          }
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .footer-centr-box {
    &__container {
      flex-direction: column;
      gap: 60px;
    }
    .left {
      width: 100%;
      max-width: 450px;
      &__title {
        font-size: 32px;
      }
      &__info-box {
        gap: 12px;
        h4 {
          margin-bottom: 2px;
        }
        a {
          font-size: 22px;
        }
        address {
          p {
            font-size: 22px;
          }
        }
      }
    }
    .right {
      &__group {
        gap: 20px;
        margin-bottom: 14px;
      }
      &__desc {
        max-width: 100%;
        font-size: 16px;
      }
      &__box-blog {
        gap: 25px;
        h3 {
          font-size: 32px;
        }
        ul {
          a {
            .text {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 620px) {
  .footer-centr-box {
    padding-top: 115px;
    &__container {
      gap: 37px;
    }
    .left {
      &__title {
        font-size: 20px;
      }
      &__info-box {
        gap: 14px;
        h4 {
          margin-bottom: 0;
          font-size: 14px;
          line-height: 140%;
        }
        a {
          font-size: 18px;
        }
        address {
          p {
            font-size: 18px;
          }
        }
      }
      &__list {
        gap: 30px;
      }
    }
    .right {
      &__group {
        flex-direction: column;
        gap: 14px;
      }
      &__desc {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
      }
      &__box-blog {
        gap: 35px;
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}