.footer-top-box {
  padding: 100px 0 0;
  background-color: var(--white);
  &__container {
    display: flex;
    gap: calc(130 / 1400 * 100%);
    justify-content: space-between;
    .left {
      width: calc(510 / 1400 * 100%);
      &__form {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        &-title {
          margin-bottom: 10px;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 36px;
          color: var(--black);
        }
      }
      &__group {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: end;
      align-items: end;
    }
  }
}
@media (max-width: 1380px) {
  .footer-top-box {

  }
}