.form-our-program {
  &__section {
    padding-top: 100px;
    background-color: var(--white);
  }
  &__content {
    position: relative;
    padding-bottom: 100px;
    background-image: url("../img/form-our-program/beac.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &__title {
    text-align: start;
  }
  &__desc {
    max-width: 545px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: var(--black);
  }
  &__box-top {
    margin-bottom: 50px;
  }
  &__form-wrapp {
    width: calc(732 / 1400 * 100%);
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    textarea {
      grid-column: span 2;
    }
    .checkbox1 {
      padding: 16px 0;
      grid-column: span 2;
    }
    .default-textarea {
      padding: 20px 24px;
      height: 65px;
      min-height: 65px;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}