.main-swiper {
  margin-bottom: 170px;
  &__container {
    position: relative;
  }
  .swiper-slide {
    box-sizing: border-box;
  }
}

@media (max-width: 950px) {
  .main-swiper {
    margin-bottom: 260px;
    .btn-swiper {
      top: 70%;
      &.left {
        left: 30px;
      }
      &.right {
        right: 30px;
      }
    }
  }
}

@media (max-width: 620px) {
  .main-swiper {
    margin-bottom: 470px;
  }
}