.card7 {
  padding: 16px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--white);
  display: flex;
  gap: 26px;
  flex-direction: column;
  justify-content: space-between;
  &__img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    color: var(--black);
  }
}
@media (max-width: 1380px) {
  .card7 {
    &__title {
      font-size: calc(16px + (18 - 16) * ((100vw - 1240px) / (1440 - 1240)));
    }
  }
}

@media (max-width: 950px) {
  .card7 {
    &__title {
      font-size: 18px;
      line-height: 120%;
    }
  }
}