.card14 {
  border-radius: 14px;
  padding: 30px 40px 40px 40px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__box-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-desc {
    p {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 24px;
      color: var(--black);
    }
  }
}