.header-nav {
  width: 100%;
  max-width: 850px;
  &__list {
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;

    li {
      white-space: nowrap;
    }

    .menu__more{
      position: relative;

      &.open {
        .menu__hidden {
          visibility: visible;
          opacity: 1;
          z-index: 1;
        }
      }
    }

    .menu__hidden {
      display: flex;
      flex-direction: column;
      gap: 7px;
      padding: 15px;
      border-radius: 14px;
      position: absolute;
      right: 0;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      transform: translate(0, 5px);
      background-color: var(--white);
      transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .menu__toggle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--black);
      transition: color 0.4s ease-in-out;
      &:focus {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        color: var(--accent-2);
      }
    }

    .menu__hidden {
      li {
        margin: 5px 0;
      }
    }

    .hidden {
      display: none;
    }
  }
  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
    transition: color 0.4s ease-in-out;
    &:focus {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: var(--accent-2);
    }
  }

  &__mobile {
    display: none;
  }
}

@media (max-width: 1380px) {
  .header-nav {
    &__link {
      font-size: calc(16px + (18 - 16) * ((100vw - 1240px) / (1440 - 1240)));
    }
  } 
}

@media (max-width: 1115px) {
  .header-nav {
    padding-top: calc(63px + 80px);
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    max-width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-120%);
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    background-color: var(--white);
    &.active {
      visibility: visible;
      opacity: 1;
      transform: none;
    }
    &__mobile {
      display: flex;
    }
    &__list {
      max-width: 100%;
      overflow: auto;
      flex-direction: column;
      align-items: start;
      li {
        width: 100%;
      }
    }
    &__link {
      padding: 0 20px;
      font-size: 48px;
    }
    .drop-down1__btn {
      font-size: 48px;
      svg {
        width: 18px;
        height: 10px;
      }
    }
    &__mobile {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 44px;
    }
  }
  .mobile-header {
    &__top {
      display: flex;
      flex-direction: column;
      gap: 20px;
      a {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 22px;
        color: var(--black);
        transition: color 0.4s ease-in-out;
        &:focus,&:focus-visible {
          outline: none;
        }
        &:focus-visible,&:hover,&:active {
          color: var(--accent-2);
        }
      }
    }
    &__btn-group {
      display: flex;
      gap: 20px;
    }
  }
}
@media (max-width: 620px) {
  .header-nav {
    padding-top: 80px;
    &__list {
      gap: 24px;
    }
    &__link {
      font-size: 27px;
    }
    .drop-down1__btn {
      font-size: 27px;
    }
  }
  .mobile-header {
    &__btn-group {
      flex-direction: column;
    }
  }
}