.phone-mob {
  display: none;
  &__link {
    color: var(--black);
    display: flex;
    transition: color 0.4s ease-in-out;

    &:focus,&:focus-visible {
      outline: none;
    }

    &:focus-visible,&:hover,&:active {
      color: var(--accent-2);
    }
  }
}

@media (max-width: 1030px) {
  .phone-mob {
    display: flex;
  }
}
@media (max-width: 950px) {
  .phone-mob {
    &__link {
      svg {
        width: 20px;
        min-width: 20px;
        height: 20px;
      }
    }
  }
}
@media (max-width: 620px) {
  .phone-mob {
    &__link {
      svg {
        width: 16px;
        min-width: 16px;
        height: 16px;
      }
    }
  }
}