.section-title {
  margin-bottom: 35px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: var(--black);
}

@media (max-width: 950px) {
  .section-title {
    margin-bottom: 40px;
    font-size: 40px;
  }
}