<div class="card1">
  <div class="card1__top-wrapp">
    <div class="card1__top-box">
      <h3 class="card1__title">
        @@title
      </h3>
      <p class="card1__desc">
        @@desc
      </p>
      <p class="card1__price">
        @@price
      </p>
    </div>
    <picture>
      <source srcset="@@urlImg1" media="(max-width: 950px)">
      <img class="card1__img" src="@@urlImg" alt="img">
    </picture>
    <!--<img class="card1__img" src="@@urlImg">-->
  </div>
  <a href="#" class="default-link card1__link">
    <span class="text">
      Подробнее о продукте
    </span>
    <svg width="19" height="19" viewBox="0 0 19 19" fill="none">
      <use xlink:href="img/sprite.svg#arrowBtn22"></use>
    </svg>
  </a>
</div>