<div class="card4">
  <div class="card4__info">
    <h2 class="card4__title">
      @@title
    </h2>
    <p class="card4__desc">
      @@desc
    </p>
    <div class="card4__link-wrapp">
      <a href="#" class="default-link card4__link">
        <span class="text">@@btn</span>
        <svg width="24" height="23" viewBox="0 0 24 23" fill="none">
          <use xlink:href="img/sprite.svg#arrowSubmit"></use>
        </svg>
      </a>
    </div>
  </div>
  <img class="card4__img" src="@@urlImg">
</div>