<div class="card15">
  <div class="card15__box-top">
    <img src="@@urlImg" alt="img">
  </div>
  <div class="card15__box-bottom">
    <div class="card15__left">
      <h3 class="card15__title">
        @@title
      </h3>
      <p class="card15__desc">
        @@desc
      </p>
    </div>
    <div class="card15__right">
      <a href="#" class="card13__link">
        <span class="text">Подписаться</span>
        <svg width="19" height="18" viewBox="0 0 19 18" fill="none">
          <use xlink:href="img/sprite.svg#arrowMoreColor"></use>
        </svg>
      </a>
    </div>
  </div>
</div>