<div class="card4 cadr4-1">
  <div class="card4__info">
    <h1 class="card4__title">
      Modus – №1 на рынке аналитики
    </h1>
    <p class="card4__desc">
      Платформа – ежегодный лидер по результатам независимого исследования «BI-Круг Громова» с 2022 года. Это первый масштабный мониторинг российского рынка аналитики.
    </p>
    <div class="card4__link-wrapp">
      <a href="#" class="default-link card4__link">
        <span class="text">К исследованиям</span>
        <svg width="24" height="23" viewBox="0 0 24 23" fill="none">
          <use xlink:href="img/sprite.svg#arrowSubmit"></use>
        </svg>
      </a>
    </div>
  </div>
  <img class="card4__img" src="img/main-swiper/1.png">
</div>