<div class="card6">
  <div class="card6__top">
    <h3 class="card6__title">
      @@title
    </h3>
    <ul class="card6__list list-reset">
      <li>@@text1</li>
      <li>@@text2</li>
      <li>@@text3</li>
    </ul>
  </div>
  <div class="card6__bottom">
    <a href="#" class="card6__link default-link">
      <span class="text">
        Подробнее
      </span>
      <svg width="19" height="18" viewBox="0 0 19 18" fill="none">
        <use xlink:href="img/sprite.svg#arrowDetailed"></use>
      </svg>
    </a>
  </div>
  <img class="card6__img" src="@@urlImg">
</div>