<div class="card13 card13-2">
  <div class="card13__box-img">
    <img src="@@urlImg" alt="img">
  </div>
  <div class="card13__box-info">
    <a href="#" class="card13__title">
      @@title
    </a>
    <p class="card13__desc">
      @@desc
    </p>
  </div>
  <div class="card13__box-btn">
    <a href="#" class="card13__link">
      <span class="text">Подробнее</span>
      <svg width="19" height="18" viewBox="0 0 19 18" fill="none">
        <use xlink:href="img/sprite.svg#arrowMoreColor"></use>
      </svg>
    </a>
  </div>
</div>