<div class="drop-down2">
  <input class="default-input" type="text" name="product" placeholder="Какой продукт Вас заинтересовал?*">
  <button class="drop-down2__btn btn-reset">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
      <use xlink:href="img/sprite.svg#arrowDropDown2"></use>
    </svg>
  </button>
  <ul class="drop-down2__list list-reset">
    <li class="drop-down2__item">fffffff</li>
    <li class="drop-down2__item">33333333 sddv srrgs sefew</li>
    <li class="drop-down2__item">ddddd sdvs sefwev seegweg seegwg srgewr</li>
  </ul>
</div>