<div class="drop-down4">
  <button class="drop-down4__btn btn-reset">
    <span class="text">@@btn</span>
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
      <use xlink:href="img/sprite.svg#arrowDropDown2"></use>
    </svg>
  </button>
  <ul class="drop-down4__list list-reset">
    <li class="drop-down4__item">fffffff</li>
    <li class="drop-down4__item">33333333 sddv srrgs sefew</li>
    <li class="drop-down4__item">ddddd sdvs sefwev seegweg seegwg srgewr</li>
  </ul>
</div>