<nav class="header-nav" id="headerNav">
  <ul class="header-nav__list list-reset">
    <li>
      <a href="#" class="header-nav__link">
        Продукты
      </a>
    </li>
    <li>
      <a href="#" class="header-nav__link">
        Преимущества
      </a>
    </li>
    <li>
      <a href="#" class="header-nav__link">
        Кейсы
      </a>
    </li>
    <li>
      @@include('./drop-down1.html')
    </li>
    <li>
      <a href="#" class="header-nav__link">
        Партнерство
      </a>
    </li>
    <li>
      @@include('./drop-down1-2.html')
    </li>
    <!-- Контейнер для скрытых пунктов -->
    <li class="menu__more hidden">
      <button class="menu__toggle btn-reset">
        ...
      </button>
      <ul class="menu__hidden list-reset"></ul>
    </li>
  </ul>
  <div class="header-nav__mobile mobile-header">
    <div class="mobile-header__top">
      <a href="tel:+74951182814">+7 (495) 118-28-14</a>
      <a href="mailto:post@modusbi.ru">post@modusbi.ru</a>
    </div>
    <div class="mobile-header__btn-group">
      @@include('./btn-tg.html',{"text":"Telegram-канал"})
      @@include('./btn-tg.html',{"text":"Telegram-чат"})
      </a>
    </div>
  </div>
</nav>