<div class="nav-point">
  <a href="@@href" class="nav-point__link">
    <svg class="svg-default" width="12" height="12" viewBox="0 0 12 12" fill="none">
      <use xlink:href="img/sprite.svg#navPoint"></use>
    </svg>
    <svg class="svg-active" width="12" height="13" viewBox="0 0 12 13" fill="none">
      <use xlink:href="img/sprite.svg#navPointActive"></use>
    </svg>
  </a>
  <div class="nav-point__hidden">
    <p>@@name</p>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none">
      <use xlink:href="img/sprite.svg#navPointActive"></use>
    </svg>
  </div>
</div>