<div class="search1">
  <button class="search1__btn btn-reset">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
      <use xlink:href="img/sprite.svg#search"></use>
    </svg>
  </button>
  <div class="search1__box">
    <div class="search1__container container">
      <form class="search1__form">
        <input class="default-input" type="text" placeholder="Поиск по Базе знаний Modus BI">
        <button class="search1__sabmit btn-reset">
          <span>Искать</span>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>