@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** {
  outline: 2px solid red;
}*/
a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 340px;
  font-family: "Gilroy", sans-serif;
  background-color: var(--body);
}

.main {
  flex: 1;
}

.section {
  margin-bottom: 100px;
}

.overlay {
  position: fixed;
  z-index: 3;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(51, 51, 51, 0.8);
  transition: visibility 0.4s ease-in-out, bottom 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
}

.overlay--active {
  visibility: visible;
  bottom: 0px;
}

.stop-scroll {
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

:root {
  --font-family: "Gilroy", sans-serif;
  --second-family: "Gilroy Original", sans-serif;
  --third-family: "Manrope", sans-serif;
}

:root {
  --black: #000;
  --black-1: rgba(0, 0, 0, 0.5);
  --white: #fff;
  --accent-1: #222c55;
  --accent-2: #1752e8;
  --accent-3: #3491f7;
  --accent-4: #1de1d3;
  --accent-5: #723aa9;
  --body: #ebebf0;
  --input: #f5f5fa;
}

@media (max-width: 1030px) {
  .container {
    padding: 0 10px;
  }
}
.header {
  padding: 20px 0;
}
.header.default {
  padding-bottom: 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header__btn-group {
  display: flex;
  align-items: center;
  gap: clamp(7px, 2vw, 30px);
}

.header-nav {
  width: 100%;
  max-width: 850px;
}
.header-nav__list {
  width: 100%;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: nowrap;
}
.header-nav__list li {
  white-space: nowrap;
}
.header-nav__list .menu__more {
  position: relative;
}
.header-nav__list .menu__more.open .menu__hidden {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.header-nav__list .menu__hidden {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px;
  border-radius: 14px;
  position: absolute;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transform: translate(0, 5px);
  background-color: var(--white);
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-nav__list .menu__toggle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.header-nav__list .menu__toggle:focus {
  outline: none;
}
.header-nav__list .menu__toggle:focus-visible, .header-nav__list .menu__toggle:hover, .header-nav__list .menu__toggle:active {
  color: var(--accent-2);
}
.header-nav__list .menu__hidden li {
  margin: 5px 0;
}
.header-nav__list .hidden {
  display: none;
}
.header-nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.header-nav__link:focus {
  outline: none;
}
.header-nav__link:focus-visible, .header-nav__link:hover, .header-nav__link:active {
  color: var(--accent-2);
}

.logo {
  min-width: 134px;
  display: flex;
}
.logo__link {
  display: flex;
}
.logo__link:focus {
  outline: none;
}
.logo__link:focus-visible {
  outline: 1px solid var(--accent-2);
}
.logo__img {
  padding-bottom: 10px;
}

.drop-down1 {
  position: relative;
}
.drop-down1__btn {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.drop-down1__btn:has(+ .drop-down1__list:hover) {
  color: var(--accent-2);
}
.drop-down1__btn:has(+ .drop-down1__list:hover) svg {
  transform: rotate(180deg);
}
.drop-down1__btn svg {
  transition: transform 0.4s ease-in-out;
}
.drop-down1__btn:hover svg {
  transform: rotate(180deg);
}
.drop-down1__btn:hover + .drop-down1__list {
  visibility: visible;
  z-index: 3;
  opacity: 1;
}
.drop-down1__btn:focus {
  outline: none;
}
.drop-down1__btn:focus-visible, .drop-down1__btn:hover, .drop-down1__btn:active {
  color: var(--accent-2);
}
.drop-down1__list {
  width: auto;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px;
  border-radius: 14px;
  position: absolute;
  top: calc(100% + 8px);
  right: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transform: translate(50%, 5px);
  background-color: var(--white);
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09), 0 0 10px rgba(0, 0, 0, 0.05);
}
.drop-down1__list:focus, .drop-down1__list:hover, .drop-down1__list:active {
  visibility: visible;
  z-index: 3;
  opacity: 1;
}
.drop-down1__link {
  white-space: nowrap;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.drop-down1__link:focus {
  outline: none;
}
.drop-down1__link:focus-visible, .drop-down1__link:hover, .drop-down1__link:active {
  color: var(--accent-2);
}

.search1__btn {
  display: flex;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.search1__btn:focus, .search1__btn:focus-visible {
  outline: none;
}
.search1__btn:focus-visible, .search1__btn:hover, .search1__btn:active {
  color: var(--accent-2);
}
.search1__btn.active + .search1__box {
  transform: none;
}
.search1__box {
  position: fixed;
  left: 0;
  top: 63px;
  z-index: 4;
  padding: 20px 0;
  width: 100%;
  height: auto;
  transform: translateY(-120%);
  transition: transform 0.4s ease-in-out;
}
.search1__form {
  padding: 70px;
  display: flex;
  border-radius: 14px;
  gap: 20px;
  background-color: var(--white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09), 0 0 10px rgba(0, 0, 0, 0.05);
}
.search1__form .default-input {
  width: auto;
  flex: 1;
}
.search1__sabmit {
  border-radius: 14px;
  width: 23.8095238095%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  border: 1px solid var(--white);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: linear-gradient(0deg, #1752e8 0%, #3491f7 100%);
  transition: border-color 0.4s ease-in-out;
}
.search1__sabmit:focus, .search1__sabmit:focus-visible {
  outline: none;
}
.search1__sabmit:focus-visible, .search1__sabmit:hover, .search1__sabmit:active {
  border-color: transparent;
}

.phone-mob {
  display: none;
}
.phone-mob__link {
  color: var(--black);
  display: flex;
  transition: color 0.4s ease-in-out;
}
.phone-mob__link:focus, .phone-mob__link:focus-visible {
  outline: none;
}
.phone-mob__link:focus-visible, .phone-mob__link:hover, .phone-mob__link:active {
  color: var(--accent-2);
}

@media (max-width: 1030px) {
  .phone-mob {
    display: flex;
  }
}
.phone {
  display: flex;
  position: relative;
}
.phone__btn {
  display: flex;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.phone__btn.active + .phone__box {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.phone__btn:focus, .phone__btn:focus-visible {
  outline: none;
}
.phone__btn:focus-visible, .phone__btn:hover, .phone__btn:active {
  color: var(--accent-2);
}
.phone__box {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  width: auto;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  right: 100%;
  transform: translate(-5px, -5px);
  background-color: var(--white);
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09), 0 0 10px rgba(0, 0, 0, 0.05);
}
.phone__box p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

@media (max-width: 1030px) {
  .phone {
    display: none;
  }
}
.order-demo {
  border-radius: 10px;
  padding: 4px 4px 4px 16px;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  align-items: center;
  color: var(--white);
  border: 1px solid var(--body);
  background-color: var(--accent-1);
  transition: border-color 0.4s ease-in-out;
}
.order-demo__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}
.order-demo__svg-box {
  border-radius: 10px;
  padding: 7.5px;
  display: flex;
  background: linear-gradient(355deg, #723aa9 0%, #1de1d3 100%);
}
.order-demo:focus, .order-demo:focus-visible {
  outline: none;
}
.order-demo:focus-visible, .order-demo:hover, .order-demo:active {
  border-color: var(--accent-1);
}

.footer-bottom-box {
  padding: 100px 0 60px;
  background: var(--body);
  mix-blend-mode: multiply;
}
.footer-bottom-box__list-top {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.footer-bottom-box__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-bottom-box__list li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.footer-bottom-box__list li a:focus, .footer-bottom-box__list li a:focus-visible {
  outline: none;
}
.footer-bottom-box__list li a:focus-visible, .footer-bottom-box__list li a:hover, .footer-bottom-box__list li a:active {
  color: var(--accent-2);
}
.footer-bottom-box__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  opacity: 0.5;
  color: var(--black);
}

.footer-centr-box {
  padding: 100px 0;
}
.footer-centr-box__container {
  display: flex;
  justify-content: space-between;
  gap: 9.2857142857%;
}
.footer-centr-box .left {
  width: 36.4285714286%;
}
.footer-centr-box .left__title {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--black);
}
.footer-centr-box .left__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.footer-centr-box .left__info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-centr-box .left__info-box h4 {
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--black);
}
.footer-centr-box .left__info-box a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.footer-centr-box .left__info-box a:focus, .footer-centr-box .left__info-box a:focus-visible {
  outline: none;
}
.footer-centr-box .left__info-box a:focus-visible, .footer-centr-box .left__info-box a:hover, .footer-centr-box .left__info-box a:active {
  color: var(--accent-2);
}
.footer-centr-box .left__info-box address {
  font-style: normal;
}
.footer-centr-box .left__info-box address p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}
.footer-centr-box .right {
  flex: 1;
}
.footer-centr-box .right__group {
  margin-bottom: 20px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-centr-box .right__desc {
  margin-bottom: 60px;
  max-width: 450px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--black);
  opacity: 0.5;
}
.footer-centr-box .right__box-blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-centr-box .right__box-blog h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--black);
}
.footer-centr-box .right__box-blog ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-centr-box .right__box-blog ul a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer-centr-box .right__box-blog ul a:focus, .footer-centr-box .right__box-blog ul a:focus-visible {
  outline: none;
}
.footer-centr-box .right__box-blog ul a:focus-visible .img-box, .footer-centr-box .right__box-blog ul a:hover .img-box, .footer-centr-box .right__box-blog ul a:active .img-box {
  border-color: var(--black);
}
.footer-centr-box .right__box-blog ul a:focus-visible .text, .footer-centr-box .right__box-blog ul a:hover .text, .footer-centr-box .right__box-blog ul a:active .text {
  opacity: 1;
}
.footer-centr-box .right__box-blog ul a .img-box {
  overflow: hidden;
  display: flex;
  width: 63px;
  min-width: 63px;
  height: 63px;
  border-radius: 14px;
  background-color: var(--white);
  border: 1px solid transparent;
  transition: border-color 0.4s ease-in-out;
}
.footer-centr-box .right__box-blog ul a .text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--black);
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.btn-tg {
  flex: 1;
  border-radius: 14px;
  padding: 19px;
  background: linear-gradient(355deg, #723aa9 0%, #1de1d3 100%);
  display: flex;
  justify-content: center;
  white-space: nowrap;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--body);
  transition: border-color 0.4s ease-in-out;
}
.btn-tg:focus, .btn-tg:focus-visible {
  outline: none;
}
.btn-tg:focus-visible, .btn-tg:hover, .btn-tg:active {
  border-color: transparent;
}
.btn-tg__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}

.footer-top-box {
  padding: 100px 0 0;
  background-color: var(--white);
}
.footer-top-box__container {
  display: flex;
  gap: 9.2857142857%;
  justify-content: space-between;
}
.footer-top-box__container .left {
  width: 36.4285714286%;
}
.footer-top-box__container .left__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-top-box__container .left__form-title {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--black);
}
.footer-top-box__container .left__group {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-top-box__container .right {
  flex: 1;
  display: flex;
}

.default-input {
  width: 100%;
  padding: 20px 24px;
  border-radius: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--black);
  border: 1px solid var(--body);
  background-color: var(--input);
  transition: border-color 0.4s ease-in-out;
}
.default-input:focus, .default-input:focus-visible {
  outline: none;
}
.default-input:focus-visible, .default-input:hover, .default-input:active {
  border-color: var(--input);
}

.drop-down2 {
  position: relative;
}
.drop-down2 .default-input:has(+ .drop-down2__btn:hover, + .drop-down2__btn:focus, + .drop-down2__btn:active) {
  border-color: var(--input);
}
.drop-down2__btn {
  padding: 0 24px;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.drop-down2__btn svg {
  transition: transform 0.4s ease-in-out;
}
.drop-down2__btn:focus, .drop-down2__btn:focus-visible {
  outline: none;
}
.drop-down2__btn.active svg {
  transform: rotate(180deg);
}
.drop-down2__btn.active + .drop-down2__list {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.drop-down2__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  width: 100%;
  padding: 24px;
  border-radius: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  color: var(--black);
  border: 1px solid var(--body);
  background-color: var(--input);
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09), 0 0 10px rgba(0, 0, 0, 0.05);
}
.drop-down2__list li {
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}
.drop-down2__list li:hover, .drop-down2__list li:active {
  color: var(--accent-2);
}

.default-textarea {
  width: 100%;
  min-height: 115px;
  padding: 24px;
  border-radius: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--black);
  border: 1px solid var(--body);
  background-color: var(--input);
  transition: border-color 0.4s ease-in-out;
}
.default-textarea:focus, .default-textarea:focus-visible {
  outline: none;
}
.default-textarea:focus-visible, .default-textarea:hover, .default-textarea:active {
  border-color: var(--input);
}

.checkbox1__label {
  cursor: pointer;
  display: flex;
  gap: 13px;
  align-items: end;
}
.checkbox1__label input {
  width: 0;
  height: 0;
  position: absolute;
}
.checkbox1__label input:checked + .checkbox1__castom svg {
  opacity: 1;
}
.checkbox1__castom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 2px solid var(--black-1);
}
.checkbox1__castom svg {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.checkbox1__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 90%;
  color: var(--black-1);
}
.checkbox1__text a {
  color: var(--accent-3);
  transition: color 0, 4s ease-in-out;
}
.checkbox1__text a:focus, .checkbox1__text a:focus-visible {
  outline: none;
}
.checkbox1__text a:focus-visible, .checkbox1__text a:hover, .checkbox1__text a:active {
  color: var(--accent-2);
}

.form-submit {
  border-radius: 14px;
  border: 1px solid var(--white);
  padding: 19px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: -1px 3px 6px 0 rgba(0, 0, 0, 0.04), -3px 11px 11px 0 rgba(0, 0, 0, 0.03), -7px 24px 15px 0 rgba(0, 0, 0, 0.02), -13px 43px 18px 0 rgba(0, 0, 0, 0.01), -20px 68px 20px 0 rgba(0, 0, 0, 0);
  background: linear-gradient(355deg, #723aa9 0%, #1de1d3 100%);
  transition: border-color 0.4s ease-in-out;
}
.form-submit.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.form-submit:focus, .form-submit:focus-visible {
  outline: none;
}
.form-submit:focus-visible, .form-submit:hover, .form-submit:active {
  border-color: transparent;
}
.form-submit__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}

.default-link {
  border-radius: 14px;
  border: 1px solid var(--white);
  padding: 19px;
  width: 100%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: -1px 3px 6px 0 rgba(0, 0, 0, 0.04), -3px 11px 11px 0 rgba(0, 0, 0, 0.03), -7px 24px 15px 0 rgba(0, 0, 0, 0.02), -13px 43px 18px 0 rgba(0, 0, 0, 0.01), -20px 68px 20px 0 rgba(0, 0, 0, 0);
  background: linear-gradient(355deg, #723aa9 0%, #1de1d3 100%);
  transition: border-color 0.4s ease-in-out;
}
.default-link.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.default-link:focus, .default-link:focus-visible {
  outline: none;
}
.default-link:focus-visible, .default-link:hover, .default-link:active {
  border-color: transparent;
}
.default-link .text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}
.default-link svg {
  color: var(--accent-4);
}

.box-briefcase__list {
  display: flex;
  gap: 2.8571428571%;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-briefcase__list li {
  flex: 1;
}

.section-title {
  margin-bottom: 35px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: var(--black);
}

.card1 {
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.card1__top-wrapp {
  overflow: hidden;
  position: relative;
  padding: 30px;
  min-height: 465px;
  border-radius: 14px;
  background-color: var(--white);
}
.card1__top-box {
  position: relative;
  z-index: 2;
}
.card1__title {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--black);
}
.card1__desc {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}
.card1__price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--accent-5);
}
.card1__img {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card1__link {
  border-color: var(--body);
}

.box-why__list {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.box-why__btn-wrapp {
  display: flex;
  justify-content: center;
}
.box-why__btn {
  max-width: 440px;
}

.default-btn {
  border-radius: 14px;
  border: 1px solid var(--body);
  padding: 19px;
  width: 100%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: -1px 3px 6px 0 rgba(0, 0, 0, 0.04), -3px 11px 11px 0 rgba(0, 0, 0, 0.03), -7px 24px 15px 0 rgba(0, 0, 0, 0.02), -13px 43px 18px 0 rgba(0, 0, 0, 0.01), -20px 68px 20px 0 rgba(0, 0, 0, 0);
  background: linear-gradient(355deg, #723aa9 0%, #1de1d3 100%);
  transition: border-color 0.4s ease-in-out;
}
.default-btn.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.default-btn:focus, .default-btn:focus-visible {
  outline: none;
}
.default-btn:focus-visible, .default-btn:hover, .default-btn:active {
  border-color: transparent;
}
.default-btn .text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}
.default-btn svg {
  color: var(--accent-4);
}

.card2 {
  padding: 30px;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-color: var(--white);
}
.card2__box-img {
  margin-bottom: 40px;
  display: flex;
}
.card2__box-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card2__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}
.card2__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--black);
}

.box-order-demo__section {
  padding: 100px 0;
  background-image: url("../img/box-order-demo/1.png"), url("../img/box-order-demo/2.png");
  background-position: left, right;
  background-size: 400px 100%, 400px 100%;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--white);
}
.box-order-demo__title {
  margin: 0 auto 20px;
  max-width: 915px;
}
.box-order-demo__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.box-order-demo__desc {
  margin: auto;
  max-width: 580px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--black);
}
.box-order-demo__btn-wrapp {
  display: flex;
  justify-content: center;
}
.box-order-demo__btn {
  max-width: 310px;
}

.box-order-demo-2 {
  background-image: url("../img/box-order-demo/3.png"), url("../img/box-order-demo/4.png");
  background-size: 400px 100%, 400px 100%;
}
.box-order-demo-2 .box-order-demo__title {
  max-width: 100%;
}

.box-verified-data__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card3 {
  height: 100%;
  border-radius: 14px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--white);
}
.card3__box-img {
  display: flex;
}
.card3__box-info h3 {
  max-width: 485px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}

.box-read-news__content {
  overflow: hidden;
  position: relative;
  border-radius: 14px;
  padding: 70px;
  display: flex;
  background-color: var(--white);
}
.box-read-news__content .left {
  position: relative;
  width: 46.0317460317%;
  z-index: 3;
}
.box-read-news__content .left__title {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: var(--black);
}
.box-read-news__content .left__desc {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: var(--black);
}
.box-read-news__content .left__btn {
  max-width: 310px;
}
.box-read-news__content img {
  position: absolute;
  inset: auto 0 0 auto;
  object-fit: cover;
}

.main-swiper {
  margin-bottom: 170px;
}
.main-swiper__container {
  position: relative;
}
.main-swiper .swiper-slide {
  box-sizing: border-box;
}

.card4 {
  position: relative;
  min-height: 695px;
  padding: 90px 130px;
  border-radius: 40px;
  background-image: url("../img/main-swiper/beacOne.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: var(--white);
}
.card4__info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.card4__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 58px;
  color: var(--black);
}
.card4__desc {
  max-width: 860px;
  margin-bottom: 37px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}
.card4__link-wrapp {
  display: flex;
}
.card4__link {
  padding-left: 29px;
  padding-right: 29px;
  width: auto;
}
.card4__img {
  position: absolute;
  left: 50%;
  bottom: 68px;
  transform: translate(-50%, 0);
}

.btn-swiper {
  position: absolute;
  z-index: 3;
  transform: translate(0, -50%);
  top: 50%;
  border-radius: 10px;
  width: 39px;
  min-width: 39px;
  height: 39px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-3);
  color: var(--white);
  transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.btn-swiper.left {
  left: 50px;
}
.btn-swiper.right {
  right: 50px;
}
.btn-swiper.swiper-button-disabled {
  pointer-events: none;
  background-color: transparent;
  border-color: var(--accent-3);
  color: var(--accent-3);
}
.btn-swiper:focus, .btn-swiper:focus-visible {
  outline: none;
}
.btn-swiper:focus-visible, .btn-swiper:hover, .btn-swiper:active {
  border-color: var(--accent-3);
}

.box-points {
  padding: 30px 46px;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1060px;
  border-radius: 14px;
  width: 100%;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -45%);
  border: 1px solid rgba(34, 44, 85, 0.11);
  box-shadow: 0 6px 12px 0 rgba(128, 128, 128, 0.02), 0 22px 22px 0 rgba(128, 128, 128, 0.02), 0 50px 30px 0 rgba(128, 128, 128, 0.01), 0 89px 36px 0 rgba(128, 128, 128, 0), 0 139px 39px 0 rgba(128, 128, 128, 0);
  background: var(--white);
}
.box-points__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-points__list li {
  position: relative;
  flex: 1;
  padding-left: 25px;
  padding-right: 25px;
}
.box-points__list li:first-child {
  padding-left: 0;
}
.box-points__list li:last-child {
  padding-right: 0;
}
.box-points__list li:last-child::after {
  display: none;
}
.box-points__list li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgba(52, 145, 247, 0.3);
  transform: scaleY(0);
  transform-origin: left;
  transition: transform 0.7s ease-in-out;
}
.box-points__list li.visible::after {
  transform: scaleY(1);
}

.card5 {
  display: flex;
  gap: 15px;
}
.card5__box-img {
  min-width: 32px;
}
.card5__info h3 {
  margin-bottom: 14px;
  white-space: nowrap;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  background: linear-gradient(355deg, #723aa9 0%, #1de1d3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card5__info p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
}

.card6 {
  height: 100%;
  min-height: 460px;
  border-radius: 14px;
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 16.0714285714%;
  padding-right: 16.0714285714%;
}
.card6__top {
  max-width: 700px;
  position: relative;
  z-index: 3;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.card6__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--black);
}
.card6__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card6__list li {
  padding-left: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  background-image: url("../img/box-need/icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--black);
}
.card6__bottom {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
}
.card6__link {
  max-width: 310px;
}
.card6__img {
  position: absolute;
  inset: auto 0 0 0;
}

.box-need__section .swiper-slide {
  height: auto;
  box-sizing: border-box;
}

.box-swiper__content {
  position: relative;
}
.box-swiper__content .swiper-slide {
  height: auto;
  box-sizing: border-box;
}
.box-swiper__content .btn-swiper.left {
  left: 0;
}
.box-swiper__content .btn-swiper.right {
  right: 0;
}
.box-swiper__content .btn-swiper {
  border-color: var(--body);
}
.box-swiper__content .btn-swiper.swiper-button-disabled {
  border-color: var(--accent-3);
}
.box-swiper__content .btn-swiper:focus-visible, .box-swiper__content .btn-swiper:hover, .box-swiper__content .btn-swiper:active {
  border-color: var(--accent-3);
}
.box-swiper__swiper {
  border-radius: 14px;
  margin: auto;
  max-width: 1240px;
}

.card7 {
  padding: 16px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--white);
  display: flex;
  gap: 26px;
  flex-direction: column;
  justify-content: space-between;
}
.card7__img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card7__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: var(--black);
}

.cadr8 {
  padding: 20px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cadr8__title {
  margin-bottom: 6px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: var(--black);
}
.cadr8__desc {
  margin-bottom: 23px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: var(--black);
}
.cadr8__last-desc {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--black);
}

.card9 {
  padding: 29px 16px 20px 16px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--white);
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card9 a {
  margin-bottom: 15px;
  display: flex;
}
.card9__img {
  max-width: 155px;
}
.card9__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: var(--black);
}
.card9__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
}

.box-modus-platform__content {
  min-height: 805px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 45px;
  border-radius: 14px;
  background-color: var(--white);
}
.box-modus-platform__title {
  position: relative;
  z-index: 1;
  max-width: 770px;
}
.box-modus-platform__list-wrapp {
  width: 100%;
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.box-modus-platform__list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-modus-platform__list.list-1 li:nth-child(1) {
  padding-left: 50px;
}
.box-modus-platform__list.list-1 li:nth-child(3) {
  padding-left: 20px;
}
.box-modus-platform__list.list-2 {
  align-items: flex-end;
}
.box-modus-platform__list.list-2 li:nth-child(2) {
  padding-right: 20px;
}
.box-modus-platform__list.list-2 li:nth-child(3) {
  padding-right: 50px;
}
.box-modus-platform__list li {
  width: auto;
}
.box-modus-platform__img {
  position: absolute;
  z-index: 0;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
}

.drop-down3 {
  display: grid;
  flex-direction: column;
  grid-template-columns: max-content;
  align-items: start;
  max-width: max-content;
  border-radius: 14px;
  background-color: var(--white);
  box-shadow: 2px 2px 26px 3px rgba(212, 205, 225, 0.6);
  text-align: left;
}
.drop-down3__btn {
  min-width: 330px;
  padding: 20px 20px 20px 45px;
  background-image: url("../img/drop-down3/1.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  gap: 16px;
}
.drop-down3__btn .text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
  transition: color 0.4s ease-in-out;
}
.drop-down3__btn svg {
  transition: transform 0.4s ease-in-out;
}
.drop-down3__btn.active + .drop-down3__box-desc {
  display: block;
}
.drop-down3__btn.active svg {
  transform: rotate(180deg);
}
.drop-down3__btn:focus, .drop-down3__btn:focus-visible {
  outline: none;
}
.drop-down3__btn:focus-visible .text, .drop-down3__btn:hover .text, .drop-down3__btn:active .text {
  color: var(--accent-4);
}
.drop-down3__box-desc {
  display: none;
  padding: 0 20px 20px 20px;
}
.drop-down3__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
}

.box-analytics__title {
  margin: auto;
  margin-bottom: 20px;
  max-width: 640px;
}
.box-analytics__box-desc {
  margin-bottom: 40px;
}
.box-analytics__desc {
  max-width: 514px;
  margin: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--black);
}
.box-analytics__box-svg {
  display: flex;
}
.box-analytics__box-svg #svgChart {
  border-radius: 14px;
  background-color: var(--white);
}

.foreignObject {
  position: relative;
  z-index: 3;
  border-radius: 14px;
  box-shadow: 2px 2px 9px 0 rgba(208, 208, 208, 0.25);
}

.box-info-anim {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  padding: 20px;
}

.box-info-anim__link {
  position: relative;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
.box-info-anim__link:focus, .box-info-anim__link:focus-visible {
  outline: none;
}
.box-info-anim__link:focus-visible, .box-info-anim__link:hover, .box-info-anim__link:active {
  color: var(--accent-4);
}

.box-info-anim__link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(0deg, #723aa9 0%, #1de1d3 100%);
}

.box-info-anim__desc {
  padding: 0;
  margin: 0;
  text-align: start;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}

.page-title {
  margin-bottom: 60px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 58px;
  text-align: center;
  color: var(--black);
}

.advantages-section-1__content {
  padding-top: 120px;
}

.default-background {
  background-image: url("../img/default-background/1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.box-in-numbers {
  padding: 70px;
  background-color: var(--white);
  border-radius: 14px;
}
.box-in-numbers__title {
  max-width: 890px;
  margin-bottom: 37px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: var(--black);
}
.box-in-numbers__desc {
  max-width: 890px;
  margin-bottom: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: var(--black);
}
.box-in-numbers__list {
  display: flex;
  justify-content: space-between;
}
.box-in-numbers__list li {
  position: relative;
  flex: 1;
  display: flex;
}
.box-in-numbers__list li .card10 {
  margin: auto;
}
.box-in-numbers__list li:first-child .card10 {
  margin: auto auto auto 0;
}
.box-in-numbers__list li:last-child .card10 {
  margin: auto 0 auto auto;
}
.box-in-numbers__list li:last-child::after {
  display: none;
}
.box-in-numbers__list li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgba(52, 145, 247, 0.3);
  transform-origin: left;
  transition: transform 0.7s ease-in-out;
}

.card10 {
  display: flex;
  gap: 20px;
}
.card10__box-img {
  padding: 10px 0;
  align-items: flex-start;
  display: flex;
}
.card10__box-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.card10__numd {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  background: linear-gradient(355deg, #723aa9 0%, #1de1d3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card10__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
}

.box-solutions__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card11 {
  height: 100%;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  background-color: var(--white);
}
.card11__box-img {
  display: flex;
  justify-content: end;
}
.card11__box-img img {
  max-width: 130px;
  max-height: 130px;
}
.card11__box-info {
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.card11__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}
.card11__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
  opacity: 0.8;
}

.card11-1 {
  background: linear-gradient(322deg, #1de1d3 0%, #723aa9 100%);
}
.card11-1 .card11__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--white);
}
.card11-1 .card11__desc {
  max-width: 235px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--white);
  opacity: 0.8;
}

.box-releases__content {
  position: relative;
  padding: 70px;
  display: flex;
  background-color: var(--white);
  border-radius: 14px;
}
.box-releases__left {
  width: 56.3492063492%;
}
.box-releases__title {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: var(--black);
}
.box-releases__desc {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: var(--black);
  opacity: 0.8;
}
.box-releases__btn-wrapp {
  display: flex;
  justify-content: flex-start;
}
.box-releases__btn {
  max-width: 310px;
}
.box-releases__img {
  position: absolute;
  bottom: 0;
  right: 0;
}